<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103714815060-sdgmnp3tup1ic0plh8e3me46iugshvnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103714815060-sdgmnp3tup1ic0plh8e3me46iugshvnq</string>
	<key>API_KEY</key>
	<string>AIzaSyC1YR1HKBsEaXBUHDjtvoCMKc07s_IrG6o</string>
	<key>GCM_SENDER_ID</key>
	<string>103714815060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fh.campus..FH-Schadenmelder</string>
	<key>PROJECT_ID</key>
	<string>fh-schadenmelder</string>
	<key>STORAGE_BUCKET</key>
	<string>fh-schadenmelder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103714815060:ios:5bfb6e17db7f072d5141c1</string>
	<key>DATABASE_URL</key>
	<string>https://fh-schadenmelder.firebaseio.com</string>
</dict>
</plist>